@charset "UTF-8";


/* 리뷰 본문 */

#bookmark, #title_cont{
	display:inline;
}

#page_infor{
	margin: 0 0 15px 10px;
	font-size: 18px;
	font-weight: bold;
	color:#4d5966;
}

#title_cont{
	margin: 0 0 6px 10px;
	color:#4d5966;
	vertical-align:middle;
}

#bookmark{
	vertical-align:middle;
	font-size:30px;
	color:#4d5966;
	display:inline;
}


#email_cont, #date_cont{
	
	margin:10px 0 6px 10px;
	color:#4d5966;
}

#content_view{
	
	background-color:#ffffff;
	margin-left: 10px;
	border:1px dotted #DCDCDC;
	overflow-y:auto;
	padding:3px 3px 3px 10px;
	color:#4d5966;
}

input#modify, input#del{
	margin:10px 0 0 10px;
	display:inline;
}

form{
	display:inline;
}

#file_view{
	padding:10px 3px 3px 10px;
	font-weight: bold;
}

#file_view img, #file_area img {
	margin-top: 5px;
	width: 150px;
}

#file_view p{
	font-weight: normal;
	margin: 3px;
}

input#goList{
	float:right;
	margin-top:10px;
	margin-right:5px;
}



/* 리플  */

#replyRegTable, #replyList{
	border:none;
	background-color:#FFFAF0;
	text-align:left;
	width:90%;
	margin-left:10px;
}

#replyRegTable tr, #replyRegTable td{
	border:none;
	margin:0px 10px 0px 0px;
}


textarea#replyContent{
	resize:none;
	height:80px;
	width:100%;
}

input#replySubmit{
	margin-top:14px;
	width:80px;
	height:80px;
}


#replyList{
	margin-top:10px;
	margin-bottom:15px;
}


#replyList tr, #replyList td{
	background-color:#FFFFFF;
	border:none;
	border-top:1px dotted #000000;
	border-bottom:1px dotted #000000;
	padding-top:5px;
	padding-bottom:5px;
}

#replyModContent{
	resize:none;
	display:none;
	height:80px;
	width:100%;
}

#replyModFormSubmit{
	display:none;
}

@media only screen and (max-width:850px){
	
	input#replySubmit{
		width:90px;
	}
}