@charset "UTF-8";

/* 오른쪽 컬럼  */
div#main_right_column_board{
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	width:85%;
}

/* 검색 박스 */
div#board_search_box{
	margin:30px 10px 5px auto;
	height:30px;
}

/* 병원 리스트 */
div#hos_list{
	width:100%;
	color:#4d5966;
	padding:5px;
}

table{
	background-color:#ffffff;
	border:1px dotted #000000;
	text-align:center;
	width:100%;
}

tbody:hover{
	background-color: #b0e0e6;
}

tr, td{
	border:1px dotted #000000;
	padding: 0 8px 0 8px;
}

.checkBox{
	width:2%;
}

.num{
	width:8%;
}

.hosName{
	width:15%;
}

.hosTel{
	width:10%;
}

.hosAdd{
	width:25%;
}

.hosTag{
	width:40%;
}

#hosRegButton{
	margin-right:5px;
	margin-left:auto;
	margin-bottom:5px;
	width: 50px;
}


/* 병원 등록 modal */
#modalInfor{
	font-size:30px;
	text-align:center;
	color:#4d5966;
	margin-top:40px;
	margin-bottom:30px;
}

#hosRegModal{
	display: none;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.5);
	position:fixed;
	z-index:3;
}

#hosRegFormDiv{
	border:1px dotted #4d5966;
	position:absolute;
	left: 50%;
	top:50%;
	transform:translate(-50%, -50%);
	width:500px;
	height:500px;
	background-color:#FFFAF0;
}


form#hosRegForm p{
	text-align: center;
	margin-bottom:10px;
	color:#4d5966;
}

input#hosRegOk{
	width: 80%;
	margin-top:25px;
	margin-left:60px;
}

input.hostagcl{
	margin-top:8px;
}

#addressDiv{
	margin-left:80px;
}

#addressDiv input{
	margin-left:5px;
	margin-top:5px;
}



/* 게시물 페이지 영역 */
#board_page{
	position:relative;
	left:43%;
	margin-top:12px;
	color:#4d5966;
	width:50%;
}

#board_page a{
	text-decoration:none;
}

@media only screen and (max-width:850px){
	
	div#main_right_column_board{
		width:100%;
	}

	
}